.unit {
    width: 184px;
    height: 93%;
    padding: 4px;
    background-image: url('../assets/four_cost.png');
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: filter 0.2s ease;
}

.unit:hover {
    filter: brightness(1.5);
}

.unit_header {
    position: absolute;
    top: 0;
    height: 100%;
    width: 65%;
}

.legendary {
    background-image: url('../assets/five_cost.png');
}

.epic {
    background-image: url('../assets/four_cost.png');
}

.rare {
    background-image: url('../assets/three_cost.png');
}

.uncommon {
    background-image: url('../assets/two_cost.png');
}

.common {
    background-image: url('../assets/one_cost.png');
}

.unit_image {
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.unit_image ul {
    list-style: none;
    filter: brightness(100%);
    padding-left: 5%;
    padding-bottom: 5%;
    font-weight: 500;
}

.unit_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.unit_info p {
    margin: 0;
    font-weight: 900;
}

.unit_cost  {
    display: flex;
    gap: 5px;
}

.unit_cost img {
    width: 22px;
}

#bottomOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#units {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

#shop_header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 11px;
    width: 130px;
    height: 25px;
    font-size: 1.2rem;
    gap: 10px;
    background-color: rgba(73, 167, 221, 0.473);
    color: white;
    font-weight: 900;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

#shop_header::after {
    content: '';
    width: 93%;
    height: 92%;
    bottom: 0;
    z-index: -2;
    position: absolute;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: rgb(40, 40, 44);
}

#shop_header img {
    width: 25px;
    max-width: 25px;
}

#shop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    width: 1240px;
    gap: 8px;
    padding: 5px;
    background-color: rgb(40, 40, 44);
    border: 3px solid rgba(73, 167, 221, 0.473);
    border-bottom: none;
}

#options {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    gap: 5px;
}

#options button {
    box-sizing: border-box;
    font-size: 1.4rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48%;
    color: white;
    transition: filter 0.2s ease;
}

#options button:hover {
    filter: brightness(1.5);
}

#options button img {
    height: 80%;
}